<div class="row">
    <div class="col-lg-12">
        <h1>Clientes</h1>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-6">
        <input class="form-control" placeholder="Pesquisar por Nome" [(ngModel)]="searchName" (keyup)="getEmployeesByName(searchName)">
    </div>
    <div class="col-lg-6 text-right">
        <label>&nbsp;</label>
        <a class="btn btn-success" [routerLink]="['/register-employee']">Incluir</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <br/>
        <table class='table' *ngIf="empList">
            <thead>
                <tr>
                    <th>EmployeeId</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Department</th>
                    <th>City</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of empList | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalCount  }">
                    <td>{{ emp.employeeId }}</td>
                    <td>{{ emp.name }}</td>
                    <td>{{ emp.gender }}</td>
                    <td>{{ emp.department }}</td>
                    <td>{{ emp.city }}</td>
                    <td class="text-right">
                        <a class="btn btn-default" [routerLink]="['/employee/edit/', emp.employeeId]">Editar</a>
                        <a class="btn btn-danger" [routerLink]="" [swal]="{ title: 'Tem certeza que deseja excluir este cliente?' }" (confirm)="delete(emp.employeeId)">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-12 justify-content-center">
        <pagination-controls (pageChange)="onPageChange($event)"
                             directionLinks="true"
                             autoHide="true"
                             previousLabel="Anterior"
                             nextLabel="Próximo"></pagination-controls>
    </div>
</div>
